[user]
	name = Corey Burmeister
	email = burmeister.corey@gmail.com
[credential]
	helper = osxkeychain
[color]
    diff = auto
[alias]
	lg = log --pretty=format:\"%C(yellow)%h%C(reset) %C(cyan)%ad%C(reset) %C(green)%aN%Creset%C(bold red)%d%C(reset) %s\" --date=short --no-merges
    caa = commit -a --amend -C HEAD
    fom = !git fetch origin && git merge origin/master
    com = checkout master
    rom = rebase -i origin/master
