<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.apache.solr</string>
    <key>ProgramArguments</key>
    <array>
            <string>/usr/local/bin/solr</string>
            <string>/usr/local/Cellar/solr/4.1.0/libexec/example/discogs</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
